Here is one of the very steps of my work, I get a .csv file using **requests library**.The **requests library** is the de facto standard for making HTTP requests in Python. It abstracts the complexities of making requests behind a beautiful, simple API so that you can focus on interacting with services and consuming data in your application. and making a dataframe upon it using **io modul**.The io module provides Python's main facilities for dealing with various types of I/O. There are three main types of I/O: text I/O, binary I/O and raw I/O. These are generic categories, and various backing stores can be used for each of them.

In [ ]:
import pandas as pd
import requests
import io

In [ ]:
data = requests.get(' https://data.kingcounty.gov/resource/japj-juj9.csv').content

In [ ]:
dataframe = pd.read_csv(io.StringIO(data.decode("utf-8")))

In [ ]:
dataframe

                     city  _2000_census_corrected  _2010_census
0             King County                 1737046       1931249
1            Cities Total                 1387812       1606247
2      Uninc. King County                  349234        325002
3                Bellevue                  109827        122363
4             Federal Way                   83259         89306
5                  Kent *                   79524         92411
6               Shoreline                   53296         53007
7                  Renton                   50052         90927
8                 Redmond                   45256         54144
9                Kirkland                   45054         48787
10  Auburn (K.C. portion)                   42901         62761
11              Sammamish                   34104         45780
12               Burien *                   31881         33313
13             Des Moines                   29267         29673
14                 SeaTac                   25496         26909
15          Mercer Island                   22036         22699